<form method="POST" action="/newmessage">
  <h1>Create New Message</h1>
  <label for="name">Author name:</label>
  <input type="text" id="name" name="authorName">
  <label for="messageText">Message body:</label>
  <input type="text" id="messageText" name="messageText">

  <button>Submit</button>
</form>